* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: black;
  --text-color: #d9d9d9;
  --text-disabled-color: #7c7c7c;
  --light-gray-color: #565d63;
  --gray-color: #2f3336;
  --transparent-color: rgba(91, 112, 131, 0.4);
  --primary-color: #1b95e0;
  --primary-disabled-color: #0e5179;
  --secondary-color: #202327;
  --dark-secondary-color: #15181c;
  --dark-secondary-color-hover: #1a1e22;
}

h1, h2, h3, span, p, input, a, button, textarea {
  font-family: 'Georama', sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

/*--- utils ---*/
.full {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
}

.wrapper-home {
  width: 1200px;
  max-width: 1200px;
  height: 100%;
  display: flex;
}

.wrapper-home-right {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.absolute-window {
  position: absolute;
  background-color: var(--transparent-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.none {
  display: none;
}

.align-start {
  display: flex;
  align-items: flex-start;
}

.jc-center {
  justify-content: center;
}

.relative {
  position: relative;
}

.active {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.disabled {
  background-color: var(--primary-disabled-color);
  color: var(--text-disabled-color);
}

.divisor {
  color: white;
  display: inline-block;
  width: 5px;
  height: 5px;
}

.hr {
  width: 100%;
  height: 1px;
  border: 0;
  margin-bottom: .9rem;
  background-color: var(--gray-color);
}

/*---------*/

.login--header {
  width: 370px;
  max-width: 370px;
  margin-top: 1.7rem;
  padding: 0 1rem;
}

.login--header svg {
  margin-bottom: 2rem;
}

#header-logo {
  fill: var(--text-color);
}

.login--header-title {
  color: var(--text-color);
}

.login--main {
  width: 370px;
  max-width: 370px;
  padding: 0 1rem;

}

.login--main-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  width: 100%;
  height: 3.5rem;
  border: 1px solid var(--gray-color);
  border-radius: 7px;
  background-color: transparent;
  color: white;
  padding: .7rem;
  font-size: 17px;
  margin-bottom: 25px;
  outline: 0;
}

.form-input:focus {
  border-color: var(--primary-color);
}

.form-button {
  width: 100%;
  height: 3rem;
  border-radius: 32px;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

.login--footer {
  margin-top: 20px;
}

.login--footer-link {
  font-size: 15px;
}

.register--section-account,
.register--section-photo,
.register--section-bio,
.register--section-username {
  width: 600px;
  max-width: 600px;
  height: 600px;
  min-height: 400px;
  background-color: var(--bg-color);
  border-radius: 17px;
  padding: 1rem 2rem 2rem 2rem;
}

.register--header {
  padding-top: 1rem;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.register--header-logo {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register--header-title {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.4rem;
}

.register--header-about {
  margin-top: 0.5rem;
  color: var(--light-gray-color);
  font-size: 0.9rem;
}

.register--main {
  width: 100%;
  height: 80%;
}

.register--main-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-span {
  color: var(--primary-color);
  font-size: 16px;
}

.form-span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.register--main-profile-photo-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.register--main-profile-photo {
  width: 150px;
  border-radius: 50%;
}

/* Layout */

.home--menu {
  width: 20%;
  height: 100%;
  border-right: 1px solid var(--gray-color);
  padding: 1rem;
}

.home--header {
  width: 100%;
  height: 3.5rem;
  max-height: 3.5rem;
  display: flex;
}

.home--header-title-container {
  width: 60%;
  height: 100%;
  border-bottom: 1px solid var(--gray-color);
  border-right: 1px solid var(--gray-color);
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.home--header-search-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home--main {
  width: 100%;
  height: calc(100% - 3.5rem);
  display: flex;
}

.home--main-posts-container {
  width: 60%;
  height: 100%;
  border-right: 1px solid var(--gray-color);
  margin-right: 2rem;
}

.home--main-trending-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

/* ---- */

.home--menu-header {
  width: 100%;
  height: 4rem;
}

.home--header-title {
  color: white;
  font-size: 1.5rem;
  padding: 0 1rem;
}

.home--menu-nav {
  width: 100%;
  height: calc(100% - 3rem);
  display: flex;
  flex-direction: column;
}

.home--menu-links {
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home--menu-link {
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
  height: 3rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  border-radius: 22px;
  padding: 0 1rem;
  transition: .3s background-color;
}

.home--menu-link:hover {
  cursor: pointer;
  background-color: var(--dark-secondary-color-hover);
}

.menu-link-icon-container {
  width: 1.7rem;
  margin-right: 15px;
}

.menu-link-icon {
  fill: white;
}

.home--menu-link-text {
  color: white;
  font-weight: 600;
  font-size: 1rem;
  margin-right: 15px;
  user-select: none;
}

.home--header-search-input {
  width: 100%;
  height: 3rem;
  max-height: 3rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 32px;
  padding: 1rem;
  outline: none;
  color: white;
  font-size: .9rem;
}

.home--header-search-input:focus {
  border-color: var(--primary-color);
  background-color: black;
}

.home--main-trending-nav {
  width: 100%;
  height: fit-content;
  background-color: var(--dark-secondary-color);
  border-radius: 17px;
  padding: 1rem 0;
}

.home--main-trending-nav-header {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  margin-bottom: 10px;
}

.home--main-trending-nav-list {
  width: 100%;
  list-style-type: none;
}

.home--main-trending-title {
  color: white;
  font-size: 1.2rem;
}

.home--main-trending-item {
  width: 100%;
  height: fit-content;
  margin-bottom: 15px;
  padding: .5rem 1rem;
  transition: .3s background-color;
}

.home--main-trending-item:hover {
  cursor: pointer;
  background-color: var(--dark-secondary-color-hover);
}

.home--main-trending-item-category-container,
.home--main-trending-item-tweets-container {
  width: 100%;
  height: 20px;
}

.home--main-trending-item-category,
.home--main-trending-item-tweets {
  font-size: .8rem;
  color: var(--light-gray-color);
}

.home--main-trending-item-about-container {
  width: 100%;
  height: fit-content;
}

.home--main-trending-item-about {
  color: white;
  font-size: .9rem;
  font-weight: bold;
}

.home--main-trending-container-footer {
  margin-top: 10px;
}

.home--main-trending-container-footer-text {
  color: var(--gray-color);
  font-weight: 400;
  font-size: 12px;
}

.home--main-posts-newpost-container {
  width: 100%;
  min-height: 190px;
  height: max-content;
  display: flex;
  padding-top: 1rem;
}

.home--main-posts-newpost-container-right {
  width: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 2rem 0 0;
}

.home--main-posts-newpost-picture-container {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home--main-posts-newpost-picture {
  width: 60%;
  border-radius: 50%;
}

.home--main-posts-newpost-text-container {
  width: 100%;
  height: max-content;
  margin-bottom: 1rem;
}

.home--main-posts-newpost-text {
  width: 100%;
  min-height: 70px;
  height: auto;
  padding-top: .5rem;
  font-size: 1.2rem;
  resize: none;
  background-color: black;
  border: 0;
  color: white;
  outline: none;
}

.home--main-posts-newpost-button-container {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
}

.home--main-posts-newpost-send-button {
  width: 80px;
  height: 100%;
  background-color: var(--primary-color);
  border: 0;
  color: white;
  border-radius: 32px;
  font-size: .9rem;
  font-weight: bold;
}

.home--main-posts-newpost-send-button:hover {
  cursor: pointer;
}

.home--main-posts-newpost-counter {
  width: 100px;
}

.circle {
  width: 26px;
  height: 80%;
  border: 2px solid var(--primary-color);
  border-radius: 100%;
  position: relative;
}

/* mobile media query */
@media (max-width: 481px) {
  .home--header-title-container {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--gray-color);
    border-right: 0;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }
  
  .home--header-search-container {
    display: none;
  }

  .home--main-posts-container {
    width: 100%;
    height: 100%;
    border-right: 0;
  }
  
  .home--main-trending-container {
    display: none;
  }

  .home--menu-link {
    border-radius: 20px;
    padding: .5rem;
  }

  .home--menu-link-text {
    display: none;
  }

  .menu-link-icon-container {
    margin-right: 0px;
  }
}