* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: black;
  --text-color: #d9d9d9;
  --text-disabled-color: #7c7c7c;
  --light-gray-color: #565d63;
  --gray-color: #2f3336;
  --transparent-color: rgba(91, 112, 131, 0.4);
  --primary-color: #1b95e0;
  --primary-disabled-color: #0e5179;
}

h1, h2, h3, span, p, input, a, button {
  font-family: 'Georama', sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

/*--- utils ---*/
.full {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
}

.wrapper-home {
  width: 1200px;
  max-width: 1200px;
  height: 100%;
  display: flex;
}

.wrapper-home-right {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.absolute-window {
  position: absolute;
  background-color: var(--transparent-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.none {
  display: none;
}

.align-start {
  display: flex;
  align-items: flex-start;
}

.jc-center {
  justify-content: center;
}

.relative {
  position: relative;
}

.active {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.disabled {
  background-color: var(--primary-disabled-color);
  color: var(--text-disabled-color);
}

.divisor {
  color: white;
  display: inline-block;
  width: 5px;
  height: 5px;
}
/*---------*/

.login--header {
  width: 370px;
  max-width: 370px;
  margin-top: 1.7rem;
  padding: 0 1rem;
}

.login--header svg {
  margin-bottom: 2rem;
}

#header-logo {
  fill: var(--text-color);
}

.login--header-title {
  color: var(--text-color);
}

.login--main {
  width: 370px;
  max-width: 370px;
  padding: 0 1rem;

}

.login--main-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  width: 100%;
  height: 3.5rem;
  border: 1px solid var(--gray-color);
  border-radius: 7px;
  background-color: transparent;
  color: white;
  padding: .7rem;
  font-size: 17px;
  margin-bottom: 25px;
  outline: 0;
}

.form-input:focus {
  border-color: var(--primary-color);
}

.form-button {
  width: 100%;
  height: 3rem;
  border-radius: 32px;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

.login--footer {
  margin-top: 20px;
}

.login--footer-link {
  font-size: 15px;
}

.register--section-account,
.register--section-photo,
.register--section-bio,
.register--section-username {
  width: 600px;
  max-width: 600px;
  height: 600px;
  min-height: 400px;
  background-color: var(--bg-color);
  border-radius: 17px;
  padding: 1rem 2rem 2rem 2rem;
}

.register--header {
  padding-top: 1rem;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.register--header-logo {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register--header-title {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.4rem;
}

.register--header-about {
  margin-top: 0.5rem;
  color: var(--light-gray-color);
  font-size: 0.9rem;
}

.register--main {
  width: 100%;
  height: 80%;
}

.register--main-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-span {
  color: var(--primary-color);
  font-size: 16px;
}

.form-span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.register--main-profile-photo-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.register--main-profile-photo {
  width: 150px;
  border-radius: 50%;
}

/* Layout */

.home--menu {
  width: 20%;
  height: 100%;
  border-right: 1px solid var(--gray-color);
  padding: 1rem;
}

.home--header {
  width: 100%;
  height: 3.5rem;
  max-height: 3.5rem;
  display: flex;
}

.home--header-title-container {
  width: 60%;
  height: 100%;
  border-bottom: 1px solid var(--gray-color);
  border-right: 1px solid var(--gray-color);
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.home--header-search-container {
  width: 40%;
  height: 100%;
}

.home--main {
  width: 100%;
  height: calc(100% - 3.5rem);
  display: flex;
}

.home--main-posts-container {
  width: 60%;
  height: 100%;
  border-right: 1px solid var(--gray-color);
}

.home--main-trending-container {
  width: 40%;
  height: 100%;
}

/* ---- */

.home--menu-header {
  width: 100%;
  height: 4rem;
}

.home--header-title {
  color: white;
  font-size: 1.5rem;
}

.home--menu-nav {
  width: 100%;
  height: calc(100% - 3rem);
  display: flex;
  flex-direction: column;
}

.home--menu-links {
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home--menu-link {
  height: 3rem;
  margin-bottom: 1rem;
  background-color: red;
  display: flex;
  align-items: center;
  border-radius: 22px;
}